@charset "UTF-8";

@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'EF_watermelonSalad';
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.input-group-text {
	width: 120px;
	justify-content: center;
}

.photo {
	border-radius: 50%;
	border: 1px solid gray;
	cursor: pointer;
}