<div class="my-5">
	<h1 class="text-center mb-5">강좌정보</h1>
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
				role="tab" aria-controls="nav-home" aria-selected="true">강좌정보</button>
			<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
				role="tab" aria-controls="nav-profile" aria-selected="false">수강학생</button>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
			<div id="div_cou" class="row justify-content-center mt-5"></div>
		</div>
		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
			<div id="div_enroll" class="mt-5"></div>
		</div>
	</div>
</div>
<script id="temp_cou" type="x-handlebars-template">
	<div class="col">
		<div class="card p-3">
			<div>강좌이름: {{lname}} ({{lcode}})</div><hr>
			<div>수강인원: {{persons}}명 / {{capacity}}명</div><hr>
			<div>지도교수: {{pname}} ({{instructor}})</div><hr>
			<div class="text-center">
				<a href="/cou/update?lcode={{lcode}}" class="btn btn-primary px-5">정보수정</a>
			</div>	
		</div>	
	</div>	
</script>
<script id="temp_enroll" type="x-handlebars-template">
	<table class="table">
		<tr>
			<td><input type="checkbox" id="all"><span class="ms-3">전체선택</span></td>
			<td colspan="4" class="text-end"><buttod class="text-end btn btn-success px-5" id="btn-update">선택저장</button></td>
		</tr>
		{{#each .}}
		<tr scode="{{scode}}">
			<td><input type="checkbox" class="chk"></td>
			<td>{{sname}}({{scode}})</td>
			<td>{{dept}} ({{year}})</td>
			<td>{{edate}}</td>
			<td>
				<input value="{{grade}}" size="3" class="grade text-end">
				<button class="btn-update btn btn-primary">수정</button>
			</td>
		</tr>	
		{{/each}}
	</table>	
</script>

<script>
	let lcode="[[${param.lcode}]]";
	const tab="[[${param.tab}]]";
	if(tab==2){
		$("#nav-profile-tab").click();
	}
	
	
	//선택수정 버튼 클릭시
	$("#div_enroll").on("click", "#btn-update", function(){
      const chk = $("#div_enroll .chk:checked").length;
	  if(chk==0){
		  alert("수정할 학생들을 선택하세요")
	  }else{
		  if(confirm(`${chk}명 학생 점수를 수정하실래요?`)){
			  //선택학생점수 수정
			  $("#div_enroll .chk:checked").each(function(){
				 const tr=$(this).parent().parent();
				 const scode=tr.attr("scode");
				 const grade=tr.find(".grade").val();
				 $.ajax({
					type:"post",
					url:"/enroll/grade",
					data:JSON.stringify({lcode, scode, grade}),
					contentType:"application/JSON",
					success:function(){}
					})
			  });
			  alert(`${chk}명 점수가 수정완료!`);
			  getEnroll();
		  }
	  }	
	})
	
	   // 전체선택 박스를 체크한 경우
   $("#div_enroll").on("click", "#all", function(){
      if($(this).is(":checked")) {
         $("#div_enroll .chk").prop("checked", true);
      } else {
         $("#div_enroll .chk").prop("checked", false);
      }
   });
   
   // 각 행의 체크박스를 클릭한 경우
   $("#div_enroll").on("click", ".chk", function(){
      const all = $("#div_enroll .chk").length;
      const chk = $("#div_enroll .chk:checked").length;
      
      if(all==chk) {
         $("#div_enroll #all").prop("checked", true);
      } else {
         $("#div_enroll #all").prop("checked", false);
      }
   });
	//점수수정버튼 클릭시
	$("#div_enroll").on("click", ".btn-update", function(){
		const tr=$(this).parent().parent();
		const scode=tr.attr("scode");
		const grade=tr.find(".grade").val();
		if(confirm(`${scode}학생의 점수를 ${grade}로 수정하실래요?`)){
			$.ajax({
				type:"post",
				url:"/enroll/grade",
				data:JSON.stringify({lcode, scode, grade}),
				contentType:"application/JSON",
				success:function(){
					alert("점수수정완료!");
					getEnroll();
				}
			})
		}
	})
	$.ajax({
		type:"get",
		url:"/cou/read.json",
		data:{lcode},
		success:function(data){
			//console.log(data);
			const temp=Handlebars.compile($("#temp_cou").html());
			$("#div_cou").html(temp(data));
		}
	});
	
	getEnroll();
	function getEnroll(){	
		$.ajax({
			type:"get",
			url:"/cou/enroll.json",
			data:{lcode},
			success:function(data){
				const temp=Handlebars.compile($("#temp_enroll").html());
				$("#div_enroll").html(temp(data));
			}
		});
	}
</script>